# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Logs and databases #
######################
*.env

# Folders #
######################
logs

## Python
__pycache__
.vscode
.idea
.pytest_cache
*.pyc
.coverage